.app 
  img(srcset="./src/images/image(20).png 2x", alt="phone")
  .content 
    h3 Have you got our App?
    p Best cooks and best delivery guys all at your service. Hot tasty food
    .links 
      a(href="https://www.apple.com/vn/app-store/" target="_blank").link 
        ion-icon(name="logo-apple-appstore")
        | App Store
      a(href="https://play.google.com/store/apps?hl=en&gl=US" target="_blank").link 
        ion-icon(name="logo-google-playstore")
        | Play Store