- countries = ["United States", "Spain", "Brazil", "Mexico", "Japan", "Canada", "Australia", "Poland", "United Kingdom", "Italy", "Switzerland", "Chile", "New Zealand", "Tiwan (ROC)", "South Africa", "Ecuador", "Ireland", "Sri Lanka", "Sweden", "Dominican Republic"]

.countries 
  h3 Popular countries with us
  .content 
    each country in countries 
      p= country