.hero 
  .content 
    h2 Hungry?
    h1 Wait a minute for delicious.
    p Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 20mins.
    .location
      input(type="text" placeholder="Enter your delivery location...")
      ion-icon(name="navigate-circle")
      button Discover
        ion-icon(name="chevron-forward-outline")
    p Already member of our communty?
      a(href="/")  Sign in
  .banner 
    img(src="./src/images/image(2).png", alt="banner")