.map
  h2 Near Me 
  h3 Find us near your citys.
  .content 
    .content__left
      .content__header
        div
          h4 Pickup restaurant point
          p Enter your delivery location
        img(src="./src/images/image(21).png", alt="image")
      .content__item 
        h4 DEPATURE 
        h3 Pickup restaurant point 
        p 427 Edington Drive 
          ion-icon(name="location")
      .content__item 
        h4 ARRIVE 
        h3 Drop home location
        p 4130  Public Works Drive
          ion-icon(name="location")
    img(srcset="./src/images/image(19).png 2x", alt="image")