.order 
  h2 Hungry?
  h3 Wait a minute for delicious.
  .content 
    .content__item 
      img(src="./src/images/image(5).png", alt="image")
      h4 Easy to order 
      p In restaurant-controlled online food ordering, the restaurant,...
    .content__item 
      img(src="./src/images/image(4).png", alt="image")
      h4 Live Order 
      p In addition to paying for the food, customers will often have to pay...
    .content__item 
      img(src="./src/images/image(3).png", alt="image")
      h4 Best quality
      p Grocery delivery companies will deliver groceries, pre-prep...
  .banner
    .banner__content 
      h3 Have you got our offer?
      p Best cooks and best delivery guys all at your service. Hot tasty food
    .banner__image 
      img(src="./src/images/image(1).png", alt="image")
      