.slider 
  .top
    h3 Food near me 
      ion-icon(name="flame")
  .bottom 
    .dish 
      .content
        h4 Pizza 
        p Starting
        h5 $14.00
      .image 
        img(src="./src/images/image(13).png", alt="dish")
    .dish 
      .content
        h4 Drinks 
        p Starting
        h5 $2.00
      .image 
        img(src="./src/images/image(11).png", alt="dish")
    .dish 
      .content
        h4 F.Chicken 
        p Starting
        h5 $4.50
      .image 
        img(src="./src/images/image(9).png", alt="dish")
    .dish 
      .content
        h4 French F. 
        p Starting
        h5 $8.00
      .image 
        img(src="./src/images/image(7).png", alt="dish")