.app {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .content {
    h3 {
      font-size: rem(34);
    }

    p {
      color: $grey;
      line-height: 1.5;
      max-width: rem(350);
      margin: 1rem 0;
    }

    .links {
      display: flex;

      :first-child {
        margin-right: 1rem;
      }

      a.link {
        color: $black;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        border: solid 2px #3333;
        transition: ease-in-out 0.3s;

        ion-icon {
          margin-right: 1rem;
        }

        &:hover {
          border-color: $black;

          & > ion-icon {
            perspective: 100rem;
            animation: spin-y 0.5s ease-out forwards;

            @keyframes spin-y {
              to {
                transform: rotateY(360deg);
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .app {
    .links {
      flex-direction: column;

      .link {
        width: fit-content;
        align-self: center;

        &:first-child {
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }
    }
  }
}

@include small {
  .app {
    flex-direction: column;

    img {
      order: 2;
    }

    .content {
      order: 1;
      margin-bottom: 3rem;
    }
  }
}

@include extra-small {
  .app {
    flex-direction: column;

    img {
      order: 2;
    }

    .content {
      order: 1;
      margin-bottom: 3rem;

      .links {
        flex-direction: column;

        .link {
          width: fit-content;
          align-self: center;

          &:first-child {
            margin-bottom: 1rem;
            margin-right: 0;
          }
        }
      }
    }
  }
}
