.author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f8f8f8;

  a {
    color: $red;
    font-weight: 700;
    margin: 0 0.3rem;
    display: inline-flex;
    align-items: center;
    position: relative;

    &:hover ion-icon {
      animation: jump 0.9s ease-out infinite;

      @keyframes jump {
        25% {
          transform: translateY(-0.5rem) rotateZ(-30deg);
          animation-timing-function: ease-in;
        }

        50% {
          transform: translateY(0rem) rotateZ(0deg);
          animation-timing-function: ease-out;
        }

        75% {
          transform: translateY(-0.5rem) rotateZ(30deg);
          animation-timing-function: ease-in;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2rem;
      width: 0;
      height: 2px;
      background-color: $red;
      transition: ease-in-out 0.3s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
