.countries {
  margin-top: 5rem;
  padding: 0 5rem;

  h3 {
    font-size: rem(34);
    margin-bottom: 3rem;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

@include medium {
  .countries {
    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include small {
  .countries {
    padding: 0;

    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include extra-small {
  .countries {
    padding: 0;

    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
}
