.hero {
  margin: 5rem auto;
  max-height: rem(544);
  display: flex;
  align-items: center;
  position: relative;

  .content {
    max-width: 30rem;
    height: rem(470);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, #fff 25%, #fff9);
    z-index: 1;
    padding: 1rem 0;
    border-radius: 0 1rem 1rem 0;

    h1 {
      font-weight: 700;
      font-size: rem(62);
    }

    .location {
      display: flex;
      position: relative;

      input {
        border: solid 1px #3fda7d;
        border-radius: 0.5rem 0 0 0.5rem;
        padding: 1rem 2rem 1rem 3rem;
        outline: none;
        font-family: inherit;
        font-size: 1rem;
        color: $grey;
      }

      & > ion-icon {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: #aaa;
        font-size: 1.5rem;
      }

      button {
        border: none;
        background: linear-gradient(92.18deg, #3fda7d 48.17%, #00be4c 100%);
        border-radius: 0 0.5rem 0.5rem 0;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;

        ion-icon {
          background-color: #fff;
          padding: 0.2rem;
          border-radius: 0.3rem;
          color: $green;
          margin-left: 0.5rem;
        }

        &:hover > ion-icon {
          animation: spin 0.5s ease-out forwards;

          @keyframes spin {
            50% {
              border-radius: 50%;
            }

            to {
              transform: rotateZ(360deg);
            }
          }
        }
      }
    }

    p {
      color: $grey;
      line-height: 1.5;

      a {
        color: $red;
        font-weight: 700;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: -0.2rem;
          width: 0;
          height: 2px;
          background-color: $red;
          transition: ease-in-out 0.3s;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }

  .banner {
    max-height: inherit;
    position: absolute;
    top: 50%;
    right: -6rem;
    transform: translateY(-50%);

    img {
      max-height: inherit;
    }
  }
}

@include small {
  .hero {
    .content {
      padding: 2rem;
      border-radius: 1rem;

      h1 {
        font-size: 3rem;
      }
    }

    .location {
      flex-direction: column;

      input {
        border-radius: 0.5rem !important;
        margin-bottom: 1rem;
      }

      button {
        border-radius: 0.5rem !important;
        justify-content: space-between;
        padding: 1rem 2rem !important;
        width: fit-content;
        align-self: center;
      }

      & > ion-icon {
        top: 1.75rem !important;
      }
    }
  }
}

@include extra-small {
  .hero {
    margin-top: 3rem;

    .content {
      padding: 1rem;
      border-radius: 1rem;

      h2 {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .location {
      flex-direction: column;

      input {
        border-radius: 0.5rem !important;
        margin-bottom: 1rem;
        padding: 1rem !important;
        font-size: 0.8rem !important;
      }

      button {
        border-radius: 0.5rem !important;
        justify-content: space-between;
        padding: 0.7rem 1rem !important;
        font-size: 1rem !important;
        width: fit-content;
        align-self: center;
      }

      & > ion-icon {
        display: none;
      }
    }
  }
}
