.order {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  & > h3 {
    font-size: rem(52);
    max-width: rem(432);
    margin: 1rem auto 3rem;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, rem(270));
    justify-content: space-evenly;
    margin-bottom: 5rem;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        max-width: rem(120);
        margin-bottom: 1rem;
      }

      h4 {
        font-weight: 700;
        font-size: rem(26);
        margin-bottom: 1rem;
      }

      p {
        color: $grey;
        line-height: 1.5;
      }
    }
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(120deg, $yellow 40%, $green 60%);
    border-radius: 2rem;

    &__content {
      color: #fff;
      margin-left: 2rem;
      max-width: 40%;
      text-align: left;

      h3 {
        font-weight: 700;
        font-size: rem(34);
        margin-bottom: 1rem;
      }

      p {
        line-height: 1.5;
      }
    }

    &__image {
      width: 50%;

      img {
        max-height: rem(240);
        max-width: 100%;
      }
    }
  }
}

@include medium {
  .order {
    .content {
      grid-template-columns: repeat(1, rem(270));
      gap: 3rem;
    }

    .banner {
      flex-direction: column;
      background-image: linear-gradient(-15deg, $green 40%, $yellow 60%);
      padding: 2rem;

      &__content {
        max-width: 100%;
      }

      &__image {
        width: 100%;
      }
    }
  }
}

@include small {
  .order {
    & > h3 {
      font-size: 3rem;
    }

    .content {
      grid-template-columns: repeat(1, rem(270));
      gap: 3rem;
    }

    .banner {
      flex-direction: column;
      background-image: linear-gradient(-15deg, $green 40%, $yellow 60%);
      padding: 2rem;

      &__content {
        max-width: 100%;
      }

      &__image {
        width: 100%;
      }
    }
  }
}

@include extra-small {
  .order {
    h2 {
      font-size: 1.5rem;
    }

    & > h3 {
      font-size: 2rem;
    }

    .content {
      grid-template-columns: repeat(1, rem(270));
      gap: 3rem;
    }

    .banner {
      flex-direction: column;
      background-image: linear-gradient(-15deg, $green 30%, $yellow 50%);
      padding: 2rem;

      &__content {
        max-width: 100%;
      }

      &__image {
        width: 100%;
      }
    }
  }
}
